html {
  background-color: gray;
}
h1 {
  color: black;
  size: 25;
  text-align: center;
}
li {
  display: inline;
  text-decoration: none;
  background: white;
  padding: 5px;
  margin: 10px;
}
a {
  text-decoration: none;
  font-style: italic;
}
.left {
  width: 700px;
  height: 200px;
  float: left;
  background: white;
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  box-shadow: -10px 10px 5px black;
}
